@{
  ViewBag.Title = "Home Page";
}
<head>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
</head>

<div class="div-top-margin">
  <div class="row">
    <div class="col-md-4 center-icon">
      <i class='fas fa-user icon-style'></i>
    </div>
    <div class="col-md-4 center-icon">
      <i class='fas fa-user-friends icon-style'></i>
    </div>
    <div class="col-md-4 center-icon">
      <i class='fas fa-users icon-style'></i>
    </div>
    <div class="col-md-4 col-pagination">
      <a href='@Url.Action("Index", "Profile")'>
        <button type="button"
                class="btn btn-primary btn-lg btn-block btn-height-90">
          Profilul meu
        </button>
      </a>
    </div>
    <div class="col-md-4 col-pagination">
      <a href='@Url.Action("Index", "Friend")'>
        <button type="button" class="btn btn-primary btn-lg btn-block btn-height-90">
          Prietenii mei
        </button>
      </a>
    </div>
    <div class="col-md-4 col-pagination">
        <a href='@Url.Action("Index", "Group")'>
            <button type="button" class="btn btn-primary btn-lg btn-block btn-height-90">
                Grupurile mele
            </button>
        </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 center-icon">
      <i class='fas fa-user-plus icon-style'></i>
    </div>
    <div class="col-md-6 center-icon">
      <i class='fa fa-search-plus icon-style'></i>
    </div>
    <div class="col-md-6 col-pagination">
        <a href='@Url.Action("SearchFriend", "Friend")'>
            <button type="button" class="btn btn-primary btn-lg btn-block btn-height-90">
                Cauta prieteni noi
            </button>
        </a>
</div>
    <div class="col-md-6 col-pagination">
        <a href='@Url.Action("SearchGroup", "Group")'>
            <button type="button" class="btn btn-primary btn-lg btn-block btn-height-90">
                Cauta grupuri noi
            </button>
        </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 center-icon">
      <i class='fas fa-comment-dots icon-style'></i>
    </div>
    <div class="col-md-12 col-pagination">
        <a href='@Url.Action("Index", "Chat")'>
            <button type="button" class="btn btn-primary btn-lg btn-block btn-height-90">
                Chat
            </button>
        </a>
    </div>
  </div>
</div>

