@{
        /**/

        ViewBag.Title = "ShowPhotos";
}

<h2 class="theme-color title-style">Titlu album: @ViewBag.album.Title</h2>
<h4 class="theme-color title-style">Descriere: @ViewBag.album.Description</h4>

@foreach (var pic in ViewBag.pics)
{

  
  <div class="row cooler-facebook-border">
    <div class="col-md-4" style="padding-left: 0px">
      <img src=@pic.Path alt="Smiley face" class="left-radius-photo" height="400" width="400">
    </div>
    <div class="center-icon col-md-8" style="padding-left: 30px; height: 400px">
        <div style="height: 350px">
            <ul class="list-group comments-scrolling">
                @foreach (CoolerFacebook.Models.Comment comment in pic.Comments)
                {
                <div class="row">
                    <div class="col-md-2">
                        <div class="thumbnail">
                            <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                        </div>
                    </div>
                    <div class="panel panel-default col-md-9">
                        <div class="panel-heading"
                             style="margin-left: -3%;
                width: 106%;">
                            <strong>@comment.Author.UserName</strong>
                            @if (ViewBag.sterge != null)
                            {
                            <form method="post" action="/Album/DeleteComment/@comment.CommentId">
                                @Html.HttpMethodOverride(HttpVerbs.Delete)
                                <button type="submit" class="btn btn-primary"
                                        style="float: right;
                     height: 24px;
                     width: 24px;
                     padding-left: 7px;
                     padding-top: 4px;
                     font-size: 12px;">
                                    X
                                </button>
                            </form>
                            }
                            <span class="text-muted">commented on @comment.Date</span>
                        </div>
                        <div class="panel-body">
                            @comment.Text
                        </div>
                    </div>
                </div>
                }
            </ul>
        </div>
        <form action="/Album/AddComment" method="post">
            <input type="hidden" name="id" value="@pic.PhotoId" id="id" />
            <div style="height: 50px">
                <div style="float: left; width: 77%;" class="form-group">
                    <textarea class="form-control" rows="1" id="text" name="text"></textarea>
                </div>

                <button style="float: right;" type="submit"
                        class="btn btn-primary">
                    Adauga comentariu
                </button>
            </div>
        </form>
    </div>
  </div>

  <hr />
}
