@{
  ViewBag.Title = "Chat";
}
<h2 class="theme-color title-style">Chat</h2>
<hr />

<div class="cooler-facebook-border row" style="height:550px">
  <div class="col-md-3 friends-list-scroll" style="border-right: 1px #ccc solid; height:550px;
                               overflow: scroll;
                               -webkit-overflow-scrolling: touch;">
    @if (ViewBag.friends != null)
    {
      foreach (var fr in ViewBag.friends)
      {
        <div style="border-bottom: 1px #ccc solid; width:107%; margin-left: -7%;">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive user-photo"
                         src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                </div>
                <div class="col-md-6" style="margin-left: -15px;">
                    <p style="margin-top:10%"><strong>Prenume: </strong>@fr.Friend2.FirstName</p>
                    <p><strong>Nume: </strong>@fr.Friend2.LastName</p>
                </div>
                <form action="/Chat/Index" method="get">
                    <input type="hidden" name="idProfile" value="@fr.Friend2.ProfileId" />
                    <button type="submit"
                            class="btn btn-primary">
                        Converseaza
                    </button>
                </form>
            </div>
        </div>
      }
    }
    else
    {
      <p>Nu aveti prieteeeeeeeeeeeni </p>
    }
  </div>
  <div class="col-md-9">
      <div style="height:480px; width:101.7%;
                               overflow: scroll;
                               -webkit-overflow-scrolling: touch;">
          <ul class="list-group">
              @if (ViewBag.messages != null)
              {
                  foreach (var mes in ViewBag.messages)
                  {
                      <li class="list-group-item">@mes.Text from @mes.Sender.FirstName</li>
                  }

              }
              
          </ul>
      </div>
      <form action="/Chat/Index" method="get">
          @if (ViewBag.friendProfileId != null)
          {
              <input type="hidden" name="idProfile" value="@ViewBag.friendProfileId" />
          }
          <div style="height: 50px; margin-top:7px">
              <div style="float: left; width: 85%;" class="form-group">
                  <textarea class="form-control" rows="2" id="text" name="text"></textarea>
              </div>
              <button style="float: right;" type="submit"
                      class="btn btn-primary">
                  Trimite mesaj
              </button>
          </div>
      </form>
  </div>
</div>






